body {
    margin: 0 auto;
    background-image: url("../images/favThings/snowflakes_on_purple.jpg");
    
}

label {
    font-weight: bold;
}

#button-form {
    width: 30%;
    float: right;
}

#buttons {
    width: 50%;
    float: left;
}


div form input button {
    margin: 10px;
}

.favButton {
    margin: 5px;
}

#favImg {
    background: rgb(248, 230, 250);
    border-radius: 5px;
    border: dotted;
    border-color: white;
    margin-left: 450px;
    width: 50%;
}