body {
    background-image: url("../images/leaves.png");
    
}

header {
    margin: 0 auto;
    width: 40%;
}

label {
    font-weight: bold;
}

#button-form {
    width: 30%;
    float: right;
}

#buttons {
    width: 50%;
    float: left;
}

button div form input {
    margin: 10px;
}

.favButton {
    margin: 5px;
}